<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <h1>Bootstrap  tab panel example (using nav-pills)</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#photos" role="tab" data-toggle="tab">Photos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#second" role="tab" data-toggle="tab">Second</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#third" role="tab" data-toggle="tab">Third</a>
    </li>
  </ul>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="photos" role="tabpanel" aria-labelledby="photos-tab">1</div>
    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">2</div>
    <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third">3</div>
  </div>
</div>

<router-outlet></router-outlet>
