<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let name of experimentNames; let i = index;">
      <a class="nav-link" href="#tab{{i + 1}}" role="tab" data-toggle="tab">{{ i + 1 }}</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade" *ngFor="let name of experimentNames; let i = index;" id="tab{{i + 1}}" role="tabpanel">
      <experiment-data [name]="name"></experiment-data>
    </div>

  </div>
</div>

<router-outlet></router-outlet>